<h3>Login</h3>
<form id="login-form">
  <input type="text" placeholder="Username" id="login-username" required>
  <input type="password" placeholder="Password" id="login-password" required>
  <button type="submit">Login!</button>
</form>

<h3>Signup</h3>
<form id="signup-form">
  <input type="text" placeholder="Username" id="signup-username" required>
  <input type="password" placeholder="Password" id="signup-password" required>
  <button type="submit">Signup!</button>
</form>

<script src="../controllers/authController.js"></script>
